.graphin{
	border:1px solid #000;
	padding:0;
	margin:5px 0 16px 16px;
	position:relative;
}
.graphin > .bar{
	height:100%;
	position:relative;
	float:left;
}
.graphin > .bar > .shaded{
	background:#099;
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	border-right:1px #088 solid;
	border-top:1px #088 solid;
	height:120px;
}
.graphin > .bar > .axis{
	position:absolute;
	bottom:0;
	font-size:9px;
	background:url('../img/graph-marker-x.png') no-repeat;
	background-position:center 0;
}
.graphin > .axis{
	position:absolute;
}
.graphin > .axis > ul{
	list-style:none;
	display:block;
	padding:0;margin:0;
}
.graphin > .axis > ul >li > div{
	background:url('../img/graph-marker-y.png') no-repeat;
	background-position: right center;
	padding:0;
	padding-right:6px;
	text-align:right;	
	font-size:9px;
}