.icon-social{
  background-image: url("../img/social.png") !important;
  width:16px;
  height:16px;
  margin-top:-1px;
}
.icon-delicious{ background-position: 0 0;  } 
.icon-digg{ background-position: -21px 0;  } 
.icon-dopplr{ background-position: -42px 0;  } 
.icon-email{ background-position: -63px 0;  } 
.icon-facebook{ background-position: -84px 0;  } 
.icon-feed{ background-position: -105px 0;  } 
.icon-flickr{ background-position: -126px 0;  } 
.icon-friendfeed{ background-position: -147px 0;  } 
.icon-furl{ background-position: -168px 0;  } 
.icon-lastfm{ background-position: -189px 0;  } 
.icon-linkedin{ background-position: -210px 0;  } 
.icon-mixx{ background-position: -231px 0;  } 
.icon-myspace{ background-position: -252px 0;  } 
.icon-newsvine{ background-position: -273px 0;  } 
.icon-posterous{ background-position: -294px 0;  } 
.icon-reddit{ background-position: -315px 0;  } 
.icon-sphinn{ background-position: -336px 0;  } 
.icon-stumble{ background-position: -357px 0;  } 
.icon-technorati{ background-position: -378px 0;  } 
.icon-tumblr{ background-position: -399px 0;  } 
.icon-twitter{ background-position: -420px 0;  } 
.icon-vimeo{ background-position: -441px 0;  } 
.icon-wordpress{ background-position: -462px 0;  } 
.icon-youtube{ background-position: -483px 0;  }